<body style="background-color: black;">
<h1 style="font-weight: bold; color: red;">{{title}}</h1>

<h2 style="color: green">Menu</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Vegetarian Status</th>
    </tr>
    @for(i of menu; track $index) {
      <tr [class.soldout]="i.soldOut">
        <td >{{i.name}}</td>
        <td>${{i.price}}</td>
        <td>{{i.category}}</td>
        @if(i.vegetarian) {
            <td>Check</td>
        }
        @else {
            <td>Has the meats</td>
        }
    </tr>

    }
</table>
<button>Add to order</button>
</body>